---
import '@styles/post-card.scss';

import imgPlaceholder from '@assets/images/blog-placeholder-1.jpg'
import { Image } from 'astro:assets'
import type { CollectionEntry } from 'astro:content'
import { getMinutesRead } from '@utils/posts';
import FormattedDate from './FormattedDate.astro'

interface Props {
	category: string
	posts: Array<CollectionEntry<'blog'>>
}
const { category, posts: ps } = Astro.props
const posts = await getMinutesRead(ps.slice(0, 7))
const categoryLink = category === 'latest'
	? '/blog'
	: `/category/${category}`
---
<section>
	<h2><a href={categoryLink}>{category}</a></h2>
	<div class="posts">
		{posts.map((post, i) => {
			const sizes = i === 0
				? "(max-width: 420px) 420px, (max-width: 767px) 768px, 570px"
				: "(max-wdith: 420px) 128px, (max-width: 767px) 200px, 128px"

			return (
				<a class="post-card" href={`/blog/${post.slug}`} style={`--cat-grid-area: pbc-${i + 1}`}>
					<div>
						<Image
							src={post.data.image ?? imgPlaceholder}
							alt={post.data.caption ?? ''}
							class="post-card__image"
							widths={[128, 200, 420, 570, 768]}
							sizes={sizes}
						/>
					</div>
					<div class="post-card__details">
						<h3 class="post-card__title">{post.data.title}</h3>
						<aside class="post-card__meta">
							<FormattedDate date={post.data.pubDate} />&nbsp;&nbsp;•&nbsp;&nbsp;{post.data.minutesRead}
						</aside>
						{i === 0 && <p class="post-card__summary">{post.data.description}</p>}
					</div>
				</a>
			)
		})}
	</div>

	<div class="posts__more">
		<a href={categoryLink}>See more -&gt;</a>
	</div>
</section>

<style lang="scss">
@import '@styles/vars.scss';

section {
	margin-bottom: calc(var(--space-xl) * var(--space-half-ratio));
}

h2 {
	font-family: var(--font-2);
	font-size: var(--fs-4);
	text-transform: uppercase;
	letter-spacing: 0.1em;
	color: #777;
	margin-block: var(--space-m) var(--space-l);

	a {
		color: inherit;
		text-decoration: none;
	}
}

.posts {
	display: grid;
	grid-template-areas:
		"pbc-1"
		"pbc-2"
		"pbc-3"
		"pbc-4"
		"pbc-5"
		"pbc-6"
		"pbc-7";
	grid-template-columns: 1fr;
	grid-gap: var(--space-m);

	@include tablet {
		grid-template-areas:
			"pbc-1 pbc-1"
			"pbc-2 pbc-5"
			"pbc-3 pbc-6"
			"pbc-4 pbc-7";
		grid-template-columns: 1fr 1fr;
	}
}

.posts__more {
	display: flex;
	justify-content: end;
	border-top: 1px solid #ddd;
	margin-top: var(--space-l);
	padding-top: var(--space-l);

	a {
		color: inherit;
		padding: var(--space-xs) var(--space-m) var(--space-xxs);
		border: 1px solid #aaa;
		border-radius: 99em;
		text-decoration: none;
		font-size: var(--fs-2);
	}
}

.post-card__image {
	@include aspect-ratio(16, 9);
}

.post-card__title {
	line-height: 1.4;
}

.post-card {
	grid-area: var(--cat-grid-area);
}

.post-card__summary {
	display: block; // reset ellipsis
	margin-bottom: var(--space-xs);
}

.post-card:first-child {
	grid-auto-flow: row;
	margin-bottom: var(--space-m);

	@include tablet {
		grid-auto-flow: column;
		grid-template-columns: 1fr 1fr;
	}

	.post-card__image {
		border-radius: 1em;
	}

	.post-card__title {
		font-size: var(--fs-6);
		letter-spacing: -0.035em;
	}

	.post-card__details {
		// Switch order of meta & description or the first post
		display: flex;
		flex-direction: column;

		> :nth-child(1) {
			order: 1;
		}
		> :nth-child(3) {
			order: 2;
			margin-block: 0 var(--space-xs);
		}
		> :nth-child(2) {
			order: 3;
		}
	}
}

.post-card:not(:first-child) {
	grid-template-columns: 2fr 5fr;
	gap: var(--space-m);

	@include tablet {
		grid-template-columns: 128px 1fr;
	}

	.post-card__image {
		border-radius: 0.5em;
	}

	.post-card__title {
		font-size: calc(var(--fs-3) * var(--fs-half-ratio));
		margin-block: 0 var(--space-xxs);
		letter-spacing: 0;
	}
}
</style>
